{% extends "bar2.html"%}
{% load staticfiles%}
{% block bar1%}
{% if result%}
<script>
    alert("{{result}}");    
</script>
{% endif %} 
<style>
a:link{
    text-decoration: none;
}
</style>
<div class="row bg-primary">
        <div class="col-md-12 p-5">
            <div class="container-fluid bg-light">
                <div class="row">
                    <div class="col-md-12"> 
                            <div class="container-fluid mt-1 border">
                                <div class="row">
                                    <div class="col-md-12 mx-auto p-2">
                                            <a href="{% url 'home'%}">Home</a>
                                            <i class="fas fa-angle-right"></i>
                                            <a href="">Bank</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row p-2">
                        <div class="col-md-7 mt-5"> 
                            <h3 class="mb-3">Bank Exams Online Test Preparation Guide</h3>
                            <p class="ml-2">Free Online Mock Test For Bank Exam Prelims and Mains of IBPS CWE PO, IBPS Clerk, IBPS RRB, SBI Clerk, SBI PO Exams. Aptitude, Reasoning, GK, Banking awareness. It is the platform for competitors to test your skills for the interviews and the upcoming examinations. Practice the Bank Exams Online Test and stay ahead in the competition levels. We keep providing the basic Bank Exams questions through this Bank Exams Online Test Preparation Guide. You can find the Bank Exams MCQ questions related to all the topics that will ask in the bank tests. We have provided the Bank Exams MCQ based on the latest pattern to judge your knowledge. Bank Exams Online Test Questions & Answers will help to score the good marks in the exam related to this section. To take part in any entrance test, you need to know the current affairs, trending issues in the world, and more. So, we have covered all the Bank Exams questions regarding the topics in the Bank Exams MCQ Online Test. </p>
                            <h4 class="ml-2 mb-3">Bank Exams Questions - Bank Exams Quiz Details</h4>
                                <table  border="1px" class="table border ml-3" > 
                                <tbody>
                                    <tr>
                                        <th>Online Test Name</th>
                                        <td>Bank Exams</td>
                                    </tr>
                                    <tr>
                                        <th>Exam Type</th>
                                        <td>multiple Choice Questions</td>
                                    </tr>
                                    <tr>
                                        <th>Category</th>
                                        <th>Bank Exams Quiz</th>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="ml-3 mt-5">The following is a collection of questions related to the Bank Exams. It will help in providing an edge to your practice for all competitive examinations. The Bank Exams Quiz Questions will help in preparing you well for the Bank Exams tricks and techniques. The different topics will be covered in the bank exams. Thus, you need to be aware of all the topics to take part in the test.                               </p>
                            <a href="{% url 'aptitudetest'%}?id=2" class="btn btn-success m-3 px-5">Start Test</a>
                       </div>
                        <div class="col-md-4">
                                <div class="container">
                                    <div class="row mt-4">
                                        <div class="col-md-12 m-5 border px-0 bg-light">
                                            <h3 class="bg-danger text-light text-center p-2">Online Quiz </h3>
                                            <ul>
                                                {% for i in cat %}
                                                <li class="p-2"><a href="{% url 'aptitudetest'%}?id={{i.id}}">{{i.prg}}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
        </div>
</div>
{% endblock %}
