<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OnQuiz</title>
    <script src="{% static 'jquery.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css'%}">
    <style>
    .box{
        box-shadow: 0ch 0ch 2px black;
    }
a:link{
    text-decoration: none;
}
@media screen and (max-width:700px){
        .mynav li {
            display: inline;
        }
    }
    </style>
</head>
<body>
     <div class="container-fluid bg-light ">
        <div class="row">
            <div class="col-md-12">
                <div class="navbar navbar-primary navbar-expand bg-light fixed-top box">
                    <a href="" class="navbar-brand"> <h2><span><i class="fal fa-lightbulb-on"></i></span>OnQuiz</h2></a>
                    <ul class="navbar-nav ml-auto " style="">
                            {% if user.is_authenticated %}
                            <img src="/media/{{profile.image}}" class="rounded-circle" height="50px" width="50px">
                            <li class="nav-item"><a href="" class="navbar-nav ml-auto"><h4>{{user.first_name}} {{user.last_name}}</h4></a></li>
                            <li class="nav-item">
                                    <a href="{% url 'uslogout'%}" class="btn ">Logout</a>
                                </li>
                            {% else %}<li class="nav-item">
                                    <a href="{% url 'first'%}" class="btn "><span class="text-danger">Register/Login</span></a>
                                </li>
                            {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% block bar %}

        {% endblock %}
        <footer>
            <div class="row bg-dark">
                <div class="col-md-3 mx-auto">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="" class="text-light" class="form-control"/><h3>Contact Us</h3></label>
                        </div>
                        <div class="form-group">
                            <input type="text" name="name" id="" placeholder="Name" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" id="" placeholder="Email Address" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <input type="number" name="ph" id="" placeholder="Phone number" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <textarea   placeholder="Message[only 150 char" class="form-control" name="msg" id="" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="contact" id="" class="btn btn-warning" class="form-control"/>
                        </div>

                    </form>

                </div>
                <div class="col-md-3 mx-auto text-light">
                    <h3>Questions and Answers</h3>
                    <ul>
                        <a href="{% url 'aptitude'%}"><li>Aptitude Questios</li></a> 
                        <a href="{% url 'gk'%}"><li>GK Questios</li></a>
                        <a href="{% url 'online'%}"><li>C programming Questios</li></a>
                        <a href="{% url 'online'%}"><li>C++ programming Questios</li></a>
                        <a href="{% url 'online'%}"><li>Java programming Questios</li></a>
                        <a href="{% url 'online'%}"><li>Python programming Questios</li></a>
                        <a href="{% url 'online'%}"><li>PHP programming Questios</li></a>
                        <a href="{% url 'reasoning'%}"><li>Verbal reasoning Questios</li></a>
                        <a href="{% url 'reasoning'%}"><li>Non Verbal reasoning Questios</li></a>
                        <a href="{% url 'reasoning'%}"><li>Logical reasoning Questios</li></a>
                    </ul>
                </div>
                <div class="col-md-3 mx-auto text-light" >
                    <h3>Interview Questions</h3>
                    <ul>
                        <a href="{% url 'interview'%}"><li>Java Interview Questions</li></a>
                        <a href="{% url 'interview'%}"><li>C Interview Questions</li></a>
                        <a href="{% url 'interview'%}"><li>C++ Interview Questions</li></a>
                        <a href="{% url 'interview'%}"><li>PHP Interview Questions</li></a>
                    </ul>
                </div>
            </div>

        </footer>
    </div>
</body>
</html>