
{% extends "bar.html"%}
{% load staticfiles%}
{% block bar%}
<script>
let e="{{nm}}";
    $(function(){
        $('.nm').html(e);
    });
</script>
<style>
    .cc{
        background-color: gray;
        color: white;
    }
    .bb{
        background-color: blueviolet;
        color: white;
    }
    .a{
        background-color: black;
        color: white;
    }
    .dd{
        background-color: burlywood;
        color: white;
    }
    .b{
        background-color: skyblue;
        color: white;
    }
    .ba{
        position: fixed;
    }
    a:link{
        text-decoration: none;
    }
    @media screen and (max-width:1200px){
        .mynav{
            display: block !important;
        }
        .mynav .mx-1{
            display: inline;
        }
    }
    </style>
        <div class="row pt-3">
            <div class="col-md-12 pt-5"></div>
        </div>
        <div class="row" >
            <div class="col-md-12 " style="margin-left: -20px;">
                <div class="navbar bg-light navbar-expand-md navbar-light">
                    <button type="button  " data-toggle="collapse" class="navbar-toggler" data-target="#myId">
                            <span class="navbar-toggler-icon "></span>
                    </button>
                    <div id="myId" class="collapse navbar-collapse">
                        <ul class="navbar-nav mx-auto mynav">
                            <li class="navbar-item mx-1"><a href="{% url 'home'%}" class="btn btn-danger btn-block-sm px-3">Home</a></li>
                            <li class="navbar-item mx-1"><a href="{% url 'aptitude'%}" class="btn cc px-3">Aptitude</a></li>
                            <li class="navbar-item mx-1"><a href="{% url 'bank'%}" class="btn btn-danger px-3 ">Bank</a></li>
                            <li class="navbar-item mx-1"><a href="{% url 'engg'%}" class="btn btn-warning px-3">Engineering</a></li>
                            <li class="navbar-item mx-1"><a href="{% url 'eng' %}" class="btn dd px-3">English</a></li>
                            <li class="navbar-item mx-1"><a href="{% url 'gk'%}" class="btn btn-success px-3">GK</a></li>
                            <li class="navbar-item mx-1"><a href="{% url 'interview'%}" class="btn cc px-3">Interview</a></li>
                            <li class="navbar-item mx-1"><a href="{% url 'online'%}" class="btn bb px-3">Online Quiz</a></li>
                            <li class="navbar-item mx-1"><a href="{% url 'placement'%}" class="btn btn-dark px-3">Placement Papers</a></li>
                            <li class="navbar-item mx-1"><a href="{% url 'reasoning'%}" class="btn b">Reasoning</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% block bar1%}
        {% endblock%}
    <!-- </div> -->
    
{% endblock%}