<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OnQuiz</title>
    <script src="{% static 'jquery.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css'%}">
    
    <style>
    .a{
        height: 430px;
        width: 400px;
        z-index: 0;
        margin: auto;
        margin-top: -250px;
        background-color: white;
        /* background-color: rgba(155,155,155,0.5); */
    }
    .d{
        border: 2px solid grey;
        border-radius: 3%;
        height: 30px;
        width: 230px;
    }
    .ab{
        font-size: 20px;
        text-indent: 10spx;
    }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row" >
                <div class="col-md-12 text-center bg-primary" style="height: 430px;">
                <div class="mt-2"></div>
                <h1 class="mt-5">OnQuiz Login Here!!</h1>
         </div>
            <div class='a p-5 border '>
                    <h2 class="text-center"><i class="fas fa-user"></i> SIGN IN</h2>
                    <hr/>{% if st %}<p class="text-danger">{{st}}</p>{% endif %}
                    <form action="" method="post">
                            {% csrf_token %}
                    <div class="form-group">
                            <label for="">Email</label>
                            <input type="text" class="form-control" placeholder="Email" name='ph_em'/>
                    </div>
                    <div class="form-group">
                            <label for="">Password</label><br/>
                            <input type="password" class="form-control" placeholder="Password" name="password"/>
                    </div>
                    <div class="form-froup">
                            <input type="submit" value="LOG IN" class="btn btn-outline-danger btn-block" name="signin">
                    </div>
                    
                    <span><a href="#" data-toggle='modal' data-target="#cd" >Don't Have Account?</a>
                    <a href= "{% url 'home' %}">Skip Login</a></span>
                    
                </form>
            </div>
            <div class="modal fade" id='cd'>
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                    <h1>Sign Up Here</h1>
                                <button class="close" data-dismiss="modal">&times;</button>
                                
                            </div>
                            <div class="modal-body">
                                <form action="" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group">
                                            <p class="msz"></p>
                                        <div class="row">
                                            <div class="col-md-6"><input type="text" name="f_nm" placeholder="First Name" class="form-control"/></div>
                                            <div class="col-md-6"><input type="text" name="l_nm" placeholder="Last Name" class="form-control"/></div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="number" name="mb" placeholder="Mobile number" class="form-control"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="em" onkeyup="check()" id="un" placeholder="email address" class="form-control"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" placeholder="New Password" class="form-control" id="ps" onkeyup="cd()"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="pss" placeholder="Confirm Password" class="form-control" id="ps1" onkeyup="cd()">
                                    </div>
                                    <div class="form-group">
                                                <label for="" class="" style="color: gray; font-size: 20px;">Birthday</label><br/>
                                        <select name="dd" id="" class="dd">
                                            
                                        </select>
                                        <select name="mm" id="" class="mm">
                                           
                                        </select>
                                        <select name="yy" id="" class="yy">

                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="" style="color: gray;font-size: 20px;">Gender</label><br/>
                                        <input type="radio" name="sex" id="" value="Male"><label for="" class="ab">Male</label>
                                        <input type="radio" name="sex" id="" value="Female"><label for="" class="ab">Female</label>
                                        <input type="radio" name="sex" id="" value="Others"><label for="" class="ab">Others</label>
                                    </div>
                                    <div class="form-group">
                                        <label for="" style="color: gray;font-size: 20px;"> Upload Profile</label><br/>
                                        <input type="file" name="image">
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Sign Up" class="btn btn-outline-success btn-block" name="signup">
                                    </div>
                                    
                                </form>
                            </div>
                            <div class="modal-footer">
                                <small>Thanks for visit us!!!</small>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <script>
        function cd(){
            let c = $('#ps').val();
            let d = $('#ps1').val();
            if(c==d && c!==" ")
            {
                document.getElementById("ps").style.border= '1px solid green';
                document.getElementById("ps1").style.border= "1px solid green";
            }
            else if(c=='' && d=='')
            {
                document.getElementById("ps").style.border= '1px solid gray';
                document.getElementById("ps1").style.border= "1px solid gray";
            }
            else{
                document.getElementById("ps").style.border= "1px solid red";
                document.getElementById("ps1").style.border="1px solid red";
            }
        }
        $(function(){
            let d='<option values="">Day</option>';
            let y='<option values="">Year</option>';
            let m='<option values="">Month</option>';
        for(var i=1;i<=31;i++){
            d+="<option values=''>"+i+"</option>";
        }
        for(var j=2019;j>=1900;j--){
            y+="<option values=''>"+j+"</option>";
        }
        for(var k=1;k<13;k++){
            m+="<option values=''>"+k+"</option>";
        }
        
        
            $('.dd').html(d);
            $('.yy').html(y);
            $('.mm').html(m);
        })
        function check(){
            let v = $('#un').val();
            $.ajax({
                url:'{% url "check_user"%}',
                type:'get',
                data:{usern:v},
                success:function(data){
                if(data==1){
                    $('.msz').html("A user with this name already exists").addClass('alert alert-danger');
                    $('#signup').attr('disabled','disabled');
                }
                else{
                $('.msz').html("").removeClass('alert alert-danger');
                $('#signup').removeAttr('disabled');
                }
                }
            })
        }

    </script>

    
</body>
</html>