{% extends "bar2.html"%}
{% load staticfiles%}
{% block bar1%}
{% if result%}
<script>
    alert("{{result}}");    
</script>
{% endif %}
<style>
a:link{
    text-decoration: none;
}
</style>
<div class="row bg-primary">
        <div class="col-md-12 p-5">
            <div class="container-fluid bg-light">
                <div class="row">
                    <div class="col-md-12"> 
                            <div class="container-fluid mt-1 border">
                                <div class="row">
                                    <div class="col-md-12 mx-auto p-2">
                                            <a href="{% url 'home'%}">Home</a>
                                            <i class="fas fa-angle-right"></i>
                                            <a href="">GK</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row p-2">
                        <div class="col-md-7 mt-5"> 
                            <h3 class="mb-3">General Knowledge Questions and Answers - GK Today Quiz</h3>
                            <p class="ml-2">General Knowledge questions and answers with explanation for interview, competitive examination and gktoday test. Practice online GK quiz for better results. Take General Knowledge Questions and Answers from various categories and check your score instantly. The GK Today Quiz will give you a fair idea about in which section you need to focus more on the upcoming examinations. The provided GK Questions and Answers had already been asked in different competitive exams. Tackling all the test you should develop a good understanding of the things happening around them. An excellent base in the General Knowledge MCQ is essential for clearing any GK Questions Quiz. GK Quiz Online Test is a wide range of General Knowledge Questions and Answers. </p>
                            <h4 class="ml-2 mb-3">General Knowledge Questions - GK Quiz Details</h4>
                                <table  border="1px" class="table border ml-3" > 
                                <tbody>
                                    <tr>
                                        <th>Online Test Name</th>
                                        <td>GK</td>
                                    </tr>
                                    <tr>
                                        <th>Exam Type</th>
                                        <td>multiple Choice Questions</td>
                                    </tr>
                                    <tr>
                                        <th>Category</th>
                                        <th>GK Quiz</th>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="ml-3 mt-5">As we all know that GK is a very crucial topic in all competitive examinations. And, most of the contenders feel difficulties to score in this General Knowledge Questions and Answers section. So, practice the GK MCQ quiz which is arranged on this page. Under this section, you can take an unlimited number of free quizzes related to the General Knowledge Quiz. GK encloses knowledge of every aspect of life. GK Online Test may or may not be related to your kid's academics studies but it can boost confidence, improve academic grades. Without any delay, practice the General Knowledge MCQ Online Test by referring to the below sections. </p>
                            <a href="{% url 'aptitudetest'%}?id=4" class="btn btn-success m-3 px-5">Start Test</a>
                       </div>
                        <div class="col-md-4">
                                <div class="container">
                                    <div class="row mt-4">
                                        <div class="col-md-12 m-5 border px-0 bg-light">
                                            <h3 class="bg-danger text-light text-center p-2">Online Quiz </h3>
                                            <ul>
                                                {% for i in cat %}
                                                <li class="p-2"><a href="{% url 'aptitudetest'%}?id={{i.id}}">{{i.prg}}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
        </div>
</div>
{% endblock %}