{% extends "bar2.html"%}
{% load staticfiles%}
{% block bar1%}
{% if result%}
<script>
    alert("{{result}}");    
</script>
{% endif %}
<style>
a:link{
    text-decoration: none;
}
</style>
<div class="row bg-primary">
        <div class="col-md-12 p-5">
            <div class="container-fluid bg-light">
                <div class="row">
                    <div class="col-md-12"> 
                            <div class="container-fluid mt-1 border">
                                <div class="row">
                                    <div class="col-md-12 mx-auto p-2">
                                            <a href="{% url 'home'%}">Home</a>
                                            <i class="fas fa-angle-right"></i>
                                            <a href="">Interview</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row p-2">
                        <div class="col-md-7 mt-5"> 
                            <h3 class="mb-3">Interview Questions and Answers For Freshers and Experienced</h3>
                            <a href="{% url 'placement'%}"><h4><span class="text-warning"><i class="fas fa-folder-open"></i></span> Placement Papers with Answers</h4></a>
                            <p style="font-size: 20px">The largest collection of placement papers with answers and interview pattern of various companies such as TCS, Infosys, Wipro, Accenture, IBM, CTS etc..</p>
                            <hr/>
                        </div>
                        <div class="col-md-4">
                                <div class="container">
                                    <div class="row mt-4">
                                        <div class="col-md-12 m-5 border px-0 bg-light">
                                            <h3 class="bg-danger text-light text-center p-2">Online Quiz </h3>
                                            <ul>
                                                {% for i in cat %}
                                                <li class="p-2"><a href="{% url 'aptitudetest'%}?id={{i.id}}">{{i.prg}}</a></li>
                                                {% endfor %}
                                            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
        </div>
</div>
{% endblock %}