{% extends "bar2.html"%}
{% load staticfiles%}
{% block bar1%}
{% if result%}
<script>
    alert("{{result}}");
</script>
{% endif %}
{% if s %}
<script>
        alert("Test Submit Successfuly!!!");
    </script>
{% endif%}
<style>
.ab{
    border: 1px dashed black;
}
.aa
{
    border: 1px dashed black;
}
.ti{
    height: 100px;
    width: 750px;
    text-align: right;
    line-height: 100px;
}
.qu{
    border: 1px dashed black;
}
</style>
<script>
 $(function(){
     $('.on').click();
 });
</script>
<div class="row bg-primary">
        <div class="col-md-12 p-5">
            <div class="container-fluid bg-light">
                <div class="row">
                    <div class="col-md-12"> 
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12 mx-auto p-1">
                                        <a href="{% url 'home'%}">Home</a>
                                            <hr/>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-8  mb-4"> 
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12 ab">
                                        <h2 class="text-danger">Result</h2>
                                            <h4>Instructions to Solve</h4>
                                            <ul>
                                                <li>Total number of questions: 20</li>
                                                <li>Time alloted: 20 minutes</li>
                                                <li>Each question carry 1 mark, no negative marks.</li>
                                            </ul>
                                            <a href="#" data-toggle='modal' data-target="#cd" class="btn on d-none" >button</a>
                                            
                                        <div class="container">
                                            <div class="row cqn">
                                                <form action="" method="POST" enctype="multipart/form-data">
                                                        {% csrf_token %}
                                                {% for i in s %}
                                                    <div class="col-md-12 qu mt-2">
                                                                <div class="form-group" >
                                                                    <label for="">Q{{i.co}}.{{i.q}}</label>
                                                                </div>
                                                                {% if i.useranswer == i.correct %}
                                                                <div class="form-group">
                                                                        <label for="" class="ml-3">A. {{i.op1}}</label>{% if i.correct == 'A' %}<span class="text-success"><i class="fas fa-check"></i></span>{% endif%}
                                                                    </div> 
                                                                <div class="form-group">
                                                                        <label for="" class="ml-3">B. {{i.op2}}</label>{% if i.correct == 'B' %}<span class="text-success"><i class="fas fa-check"></i></span>{% endif%}
                                                                    </div>
                                                                <div class="form-group">
                                                                        <label for="" class="ml-3">C. {{i.op3}}</label>{% if i.correct == 'C' %}<span class="text-success"><i class="fas fa-check"></i></span>{% endif%}
                                                                    </div>
                                                                <div class="form-group">
                                                                        <label for="" class="ml-3">D. {{i.op4}}</label>{% if i.correct == 'D' %}<span class="text-success"><i class="fas fa-check"></i></span>{% endif%}
                                                                    </div>
                                                                <div class="form-group" >
                                                                            <p style="font-size: 25px"><span class="text-warning">Answer:</span> <span>Option {{i.correct}}</span></p>
                                                                            <label for="">Correct Option </label>
                                                                </div>

                                                                {% endif %}

                                                                {% if i.useranswer != i.correct %}
                                                                <div class="form-group">
                                                                        <label for="" class="ml-3">A. {{i.op1}}</label>{% if i.correct == 'A' %}<span class="text-success"><i class="fas fa-check"></i></span>{% endif%}
                                                                        {% if i.useranswer == 'A' %}<span class="text-danger"><i class="fas fa-times"></i></span>{% endif %}
                                                                    </div> 
                                                                <div class="form-group">
                                                                        <label for="" class="ml-3">B. {{i.op2}}</label>{% if i.correct == 'B' %}<span class="text-success"><i class="fas fa-check"></i></span>{% endif%}
                                                                        {% if i.useranswer == 'B' %}<span class="text-danger"><i class="fas fa-times"></i></span>{% endif %}
                                                                    </div>
                                                                <div class="form-group">
                                                                        <label for="" class="ml-3">C. {{i.op3}}</label>{% if i.correct == 'C' %}<span class="text-success"><i class="fas fa-check"></i></span>{% endif%}
                                                                        {% if i.useranswer == 'C' %}<span class="text-danger"><i class="fas fa-times"></i></span>{% endif%}
                                                                    </div>
                                                                <div class="form-group">
                                                                        <label for="" class="ml-3">D. {{i.op4}}</label>{% if i.correct == 'D' %}<span class="text-success"><i class="fas fa-check"></i></span>{% endif%}
                                                                        {% if i.useranswer == 'D' %}<span class="text-danger"><i class="fas fa-times"></i></span>{% endif%}
                                                                    </div>
                                                                    <div class="form-group" >
                                                                            <p style="font-size: 25px"><span class="text-warning">Answer:</span> <span>Option {{i.correct}}</span></p>
                                                                        {% if i.useranswer == 'e'%}<label for="">NO Attempt</label>
                                                                        {% else %}<label for="">Incorrect Option</label>{% endif %}
                                                                        </div>
                                                                {% endif %}

                                                                
                                                        </div>
                                                {% endfor %}
                                            </form>   
                                                </div>   
                                            </div>
                                        </div>
                                    </div>
                                
                            </div>
                            
                        </div>
                        <div class="col-md-4">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12  border px-0 bg-light">
                                                <h3 class="bg-danger text-light text-center p-2">Online Exam Results</h3>
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td>Marks</td>
                                                            <td>:</td>
                                                            <td>{{rs.right}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Total Number of questions</td>
                                                            <td>:</td>
                                                            <td>{{rs.total}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Number of Correct Answer</td>
                                                            <td>:</td>
                                                            <td>{{rs.right}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Number of Incorrect Answer</td>
                                                            <td>:</td>
                                                            <td>{{rs.wrong}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Number of unanswers</td>
                                                            <td>:</td>
                                                            <td>{{rs.un}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                        </div>
                                        <div class="col-md-12 border px-0 bg-light mt-3">
                                            <h3 class="bg-danger text-light text-center p-2">Online Quiz </h3>
                                            <ul>
                                                {% for i in cat %}
                                                <li class="p-2"><a href="{% url 'aptitudetest'%}?id={{i.id}}">{{i.prg}}</a></li>
                                                {% endfor %}    
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
        </div>
</div>
<div class="modal fade" id='cd'>
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                        <h1>Result</h1>
                    <button class="close" data-dismiss="modal">&times;</button>
                    
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tbody>
                                <tr>
                                    <td>Marks</td>
                                    <td>:</td>
                                    <td>{{rs.right}}</td>
                                </tr>
                                <tr>
                                    <td>Total Number of questions</td>
                                    <td>:</td>
                                    <td>{{rs.total}}</td>
                                </tr>
                                <tr>
                                    <td>Number of Correct Answer</td>
                                    <td>:</td>
                                    <td>{{rs.right}}</td>
                                </tr>
                                <tr>
                                    <td>Number of Incorrect Answer</td>
                                    <td>:</td>
                                    <td>{{rs.wrong}}</td>
                                </tr>
                                <tr>
                                    <td>Number of unanswers</td>
                                    <td>:</td>
                                    <td>{{rs.un}}</td>
                                </tr>
                            </tbody>
                        </table>
                </div>
                    <div class="modal-footer">
                        <small>Thanks for visit us!!!</small>
                    </div>
                </div>
        </div>
</div>
{% endblock %}
